[Unit]
Description=Run the autoplius parser watchdog every 20 min
[Timer]
OnBootSec=5min
OnUnitActiveSec=20min
Persistent=true
[Install]
WantedBy=timers.target
